.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: var(--secondary-color);

	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px 30px;
}

.sidebar li {
	width: 100%;
}
.sidebar a {
	width: 100%;
}
.menu-button {
	display: none;
}
@media screen and (max-width: 925px) {
	.hideOnMobile {
		display: none;
	}
	.menu-button {
		display: block;
	}
	.botao {
		margin-top: 5px;
		width: 300px;
	}
	.logo {
		content: url("../imagens/netflix_favicon.png"); /* coloca a logo reduzida */
		height: 40px; /* opcional, ajusta o tamanho */
	}
	@media screen and (max-width: 925px) {
		.filme-principal .container {
			display: flex;
			flex-direction: column;
			justify-content: center; /* centraliza verticalmente */
			align-items: center; /* centraliza horizontalmente */
			text-align: center; /* centraliza o texto */
		}
		.filme-principal .descricao {
			width: 80%; /* opcional, pra não ficar muito esticado */
		}
	}
}

@media (max-width: 400px) {
	.sidebar {
		width: 100%;
	}
}
